---
layout: default
generatedPage: true
excludeNavigation: true
---

<h1>{{ page.title }}</h1>

<div class="api-docs" >

{% if page.documentation %}
{{ page.documentation  | markdownify }}
{% endif %}

{% for item in page.objects %}
{% include showapi item=item %}
{% endfor %}
</div>
<div class="prev-next">
{% if page.tree_previous %}
    <a class="prev" href="{{ site.baseurl }}{{ page.tree_previous.url }}">{{ page.tree_previous.title }}</a>
{% endif %}
{% if page.tree_next %}
    <a class="next" href="{{ site.baseurl }}{{ page.tree_next.url }}">{{ page.tree_next.title }}</a>
{% endif %}
</div>

