<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

  <head>
    <title>{{site.name}}{% if page.title %} ● {{page.title}}{% endif %}</title>
    {% include meta.html %}
    {% include head.html %}

    {% comment %} ----- CSS ----- {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    {% if page.customCSS %}
      <link rel="stylesheet" type="text/css" href="{{ page.customCSS }}" />
    {% endif %}

    {% comment %} ----- JS ----- {% endcomment %}
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          for (var links = document.links, i = 0, a; a = links[i]; i++) {
              if (a.host !== location.host) {
                  a.target = '_blank';
              }
          }
      });
      document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
    </script>
  </head>

  <body>

    {% if site.branch_name != "" %}
      <!-- VERSION RIBBON branch_name: |{{ site.branch_name }}| -->
      <div class="ribbon-wrapper">
        <div class="ribbon">{{ site.branch_name }}</div>
      </div>
    {% endif %}

    {% assign parts = page.url | split: "/" %}
    {% assign partsCount = parts | size %}
    {% assign section = "" %}
    {% case parts[1] %}
    {% when "documentation" %}
      {% assign section = "documentation" %}
    {% comment %}
      {% if page.url contains 'extension' %}
        {% assign section = "extensions" %}
      {% else %}
        {% assign section = "documentation" %}
      {% endif %}
    {% when "extensions" %}
      {% assign section = "extensions" %}
    {% endcomment %}
    {% endcase %}

    {% if page.draft %}
      <!-- DRAFT MODE & TO-DOs -->
      <div class="draft-bar">
        <div class="draft-wrapper">
          <div class="draft-title">
            Draft {% if page.draft-hidden %}(hidden){% endif %}
          </div>
          <a class="draft-source" href="{{ site.gitlabrepo }}{{ site.branch_name | default: site.default_branch_name }}/{{page.path}}">edit</a>
          {% if page.draft-todos %}
            <ul class="draft-todos">
              {% for todo in page.draft-todos %}
                <li>{{todo}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <!-- PAGE WRAPPER -->
    <div id="{{page.pageId}}" class="page-wrapper {{section}}">

      <!-- HEADER -->
      {% include header.html %}

      {% comment %} ----- START DOCUMENT ----- {% endcomment %}
      <div class="document">
        {% comment %} ----- MAIN CONTENT ----- {% endcomment %}
        <div id="main">
          <div id="entry-content" {% if page.cssclass %}class="{{page.cssclass}}"{% endif %}>
            {{content}}
          </div>
          {% unless page.pageId == 'home-page' %}
            <div class="modification-date">{% modification_date %}</div>
          {% endunless %}
        </div>
        {% comment %} ----- SECONDARY CONTENT ----- {% endcomment %}
        <div id="secondaryCatchAll"></div>
        <div id="secondary">
          {% include navigation.html %}
        </div>

      {% comment %} ----- END DOCUMENT ----- {% endcomment %}
      </div>
      {% comment %} ----- FOOTER ----- {% endcomment %}
      {% include footer.html %}
    {% comment %} ----- END PAGE WRAPPER ----- {% endcomment %}
    </div>

  </body>

</html>