---
layout: default
---

<article class="page">

  {% comment %} ----- PAGE TITLE ----- {% endcomment %}
  {% if page.hideTitle != true %}
  <div class="page-header">
    <h1 class="page-title">{{ page.title }} <a href="{{ site.gitlabrepo }}{{ site.branch_name | default: site.default_branch_name }}/{{page.path}}" class="control-key-hide">↩</a></h1>
  </div>
  {% endif %}

  <div class="page-content">

    {% comment %} ----- TAGS ----- {% endcomment %}
    {% assign tagCount = page.tags | size %}
    {% if tagCount > 0 %}
    <div class="tags">
    {% for tag in page.tags %}
      <a href="{{ site.baseurl}}/documentation/tags/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    </div>
    {% endif %}

    {% comment %} ----- PAGE CONTENT ----- {% endcomment %}
    {{ content }}

    {% comment %} ----- PREV/NEXT NAVIGATION ----- {% endcomment %}
    {% unless page.excludePrevNext %}
      <div class="prev-next">
      {% if page.tree_previous %}
        <a class="prev" href="{{ site.baseurl }}{{ page.tree_previous.url }}">{{ page.tree_previous.title }}</a>
      {% endif %}
      {% if page.tree_next %}
        <a class="next" href="{{ site.baseurl }}{{ page.tree_next.url }}">{{ page.tree_next.title }}</a>
      {% endif %}
      </div>
    {% endunless %}

  </div>

</article>
