---
layout: default
---

<article class="post">
    {% if page.hideTitle != true %}
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>
    {% endif %}
    <div class="post-content">
        {% assign tagCount = page.tags | size %}
        {% if tagCount > 0 %}
        <div class="tags">
        {% for tag in page.tags %}
            <a href="{{ site.baseurl}}/tags/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
        </div>
        {% endif %}
        {{ content }}
        <div class="prev-next">
        {% if page.previous %}
            <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
            <a class="next" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
        {% endif %}
        </div>
        {% if page.date %}
            <div class="written-date">
                Written on {{ page.date | date: "%B %e, %Y" }}
            </div>
        {% endif %}
    </div>
</article>